@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template: 100px 4fr/ 1fr 8fr 1fr;
    background-size: 175%;
    background: url('../assets_ser/img_ser/panel_header_bg.jpg');
    background-size: cover;
    background-position: 53% 47%;
    background-color: #EEE;
}
header {
    display: flex;
    font-family: 'Roboto Mono', monospace;
    justify-content: center;
    align-items: center;
    font-size: .5vw;
    color: white;
    text-shadow: 0 0 5px rgba(0, 158, 0, 0.8);
    grid-column: span 3;
    background: url('../assets_ser/img_ser/panel_header_bg.jpg');
    background-size: cover;
    background-position: 53% 47%;
    border-bottom: 3px solid black;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
    z-index: 1;
}
main {
    background-color: white;
    padding: 30px;
    height: 100%;
    grid-row: 2;
    grid-column: 2;
}
.list-title {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 2em;
}
.games-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.games-list li {
    margin: 15px 0;
}
.games-list li a {
    text-decoration: none;
    color: black;
}
.games-list li a .fa-gamepad {
    color:rgba(0, 158, 0, 1)
}
.games-list li a:visited .fa-gamepad {
    color:rgb(158, 0, 145);
}
.close-session {
    position: absolute;
    bottom: 0;
}
.close-session a {
    text-decoration: none;
    color: black;
}