*{
    font-family: 'Inter', sans-serif;
}

html, body {
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;

}

.todo {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: #031442;
    width: 250px;
    height: 100%;
    color: white;
}

.div-real-betis{
    display: block;

}

.nombre-equipo{

    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
}

.div-real-betis h2{
    background-color: red;
}



.logo-betis{
    width: 120px;
    height: 100px;
    padding-top: 50px;
    margin: 0 auto;
    display: block;
}

.inicio{
    display: flex;
    margin-left: 20px;
    font-size: 23px;
    padding: 0px;
    border-radius: 10px;
    margin-right: 20px;
}

.inicio:hover {
    background-color: #6366F1;
    cursor: pointer;
}

.img-sidebar{
    width: 40px;
    height: 30px;
    margin-top: 19px;
    margin-right: 20px;
}

.right-part{
    width: 100%;
    background-color: rgb(232, 232, 232);
}



.top-right-part {
    background-color: white;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: end;
}
.img-notification {
    width: 25px;
    height: 35px;
    margin: 15px;
    margin-top: 22px;
}

.img-victor {
    width: 40px;
    border-radius: 1000px;
    margin: 15px;
    margin-left: 5px ;
}

.sign-out{
    font-size: 18px;
    margin-right: 20px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color:black;
    margin-top: 18px;
    color: white;
}

.box-nothing{
    
    width: 50%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 100px auto;
    background-color: white;
    color: #031442;

}


.box-nothing button{
    background-color: #6366F1;
    border: 1px solid #6366F1;
    width: 15%;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;

}

a:link, a:visited, a:active {
    text-decoration:none;
}
