* {
  font-family: "Inter", sans-serif;
}

body,
html {
  background: url("assets/logo1.jpg");
  background-size: 50%;
  align-items: center;
  width: 100%;
  height: 100%;
}

.div-registration {
  display: flex;
  background: white;
  width: 20%;
  padding: 30px 0px;
  justify-content: center;
  border-radius: 10px;
  margin: 0 auto;
  align-items: center;
  margin-top: 180px;
}

.form-registration {
  width: 80%;
}

.div-registration input {
  display: flex;
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
  height: 2rem;
  margin-top: 5px;
}

.div-registration button {
  display: block;
  font-weight: bold;
  font-size: 15px;
  width: 50%;
  border-radius: 5px;
  color: white;
  border: 1px solid black;
  background-color: #6366f1;
  height: 2.3rem;
  margin-top: 5px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
}

.todo {
  background-color: red;
}

.error {
  border: 1px solid red;
  background-color: rgb(252, 177, 177);
  padding-left: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.div-zona-privada {
  background-color: white;
  width: 35%;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid red;
  background-color: rgb(255, 194, 194);
  padding: 20px;
  margin-top: 100px;
}
