body{
	width: 100vw;
	height: 100vh;
	background-color: aqua;
	place-items: center;
	display: flex;
	justify-content: center;
}
.container{
    width: 20vw;
	height: 50vh;
	background-color: gray;
	place-items: center;
	display: flex;
	justify-content: center;
	border-radius: 23px;
	border: 0;
	
}
label{
	font-size: 30px;
}
.formulario{
    width: 20vw;
	height: 50vh;
	place-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

#submit{
    width: 50%;
    margin:0 auto;
	margin-top: 50px;
	background-color: red;
}

input{
    width: 50%;
}
.errores{
	background-color: rosybrown;
	border-radius: 5px;
}

